SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

* * * * * root @DEPLOY_DIR@/run-cron.sh release-expired >> /var/log/cron-app.log 2>&1
0 3 * * * root @DEPLOY_DIR@/run-cron.sh auto-complete >> /var/log/cron-app.log 2>&1
0 9 * * * root @DEPLOY_DIR@/run-cron.sh low-stock-alert >> /var/log/cron-app.log 2>&1
